<html>
  <head>
    <title>Scrabble</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <form action="/results">
        <h1>Enter your word!</h1>
        <label for="user_input"></label>
        <input id="user_input" name="user_input" type="text" required>
        <button type="submit" class="btn">Enter</button>
      </form>
    </div>
  </body>
</html
